@media (min-width: 1120px) {
  .main-header {
    display: none;
  }
  .services {
    grid-template-columns: 34px auto 520px 28px;
    grid-template-rows: 40px auto auto;
    row-gap: 8px;

    &__title-block {
      grid-column: 2 / 4;
    }

    &__two-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'TT Lakes Medium';

      div {
        margin-left: 8px;

        &:first-of-type {
          margin-right: 32px;
        }
      }
    }

    &__options-list {
      overflow: auto;
      flex-wrap: wrap;

      &::before {
        display: none;
      }
    }
  }
}
