@media (min-width: 768px) {
  .main-header {
    padding: 0 24px;

    &__delimiter {
      display: block !important;
      margin: 0 20px;
      padding: 0;
    }

    &__logo {
      margin: 0;
    }

    &__three-buttons {
      display: flex;
      justify-content: space-between;
      width: 152px;
    }
  }

  .services {
    grid-template-columns: 24px auto 360px 40px;
    grid-template-rows: 40px 40px auto;
    row-gap: 32px;

    &__description {
      margin-right: 48px;

      &--text {
        height: 160px;
        line-height: 20px;
      }
    }

    &__photo {
      grid-column: 3;
      grid-row: 3;
      min-width: 360px;
      min-height: 208px;
      margin: 0;
      border-radius: 6px;
    }
  }
}
