@media (min-width: 768px) {
  .main-header {
    padding: 0 24px;

    &__delimiter {
      display: block !important;
      margin: 0 20px;
      padding: 0;
    }

    &__logo {
      margin: 0;
    }

    &__three-buttons {
      display: flex;
      justify-content: space-between;
      width: 152px;
    }
  }
}
